nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
}
nav a {
    color: black;
    text-decoration: none;
}
main {
    margin: auto;text-align: center;
}
main .img {
    width: 100%;  
}
main input{
    border-radius: 30px;
    border: .5px solid lightgray;
    padding: 1em;
    width: 500px;
}
main button {
    border-radius: 2px;
    border: none;
    background-color:#f8f9fa;
    color: black;
    padding: .5em;
    margin-top:30px ;
    margin-left:auto ;
    margin-right:auto ;
}
main div {
    margin-top: 30px;
    font-size: 14px ;
}
main div a {
    font-size: 14px ;
    padding-left: 10px;
    text-decoration: none;
}
footer{
    position: absolute;
    bottom: 0;
    background-color:#f8f9fa ;
    width: 100%; padding: .2em 0;
    color: rgb(107, 99, 99);
    text-align: left;
}
footer div{
    padding-left: 1em;
    padding-top: .5em;
}